* {
  font-family: Verdana;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-size: cover;
}

.gameIntro {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 0% 10%;
  margin-left: 33%;
  margin-top: 20%;
}

.simsim{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: auto;
}

.game-intro p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Verdana"
}

.press {
  font-family:"Tahoma";
  font-size: medium;
  color:#F584B5;
  font-weight: 600;
}

.greenCandyModified-img {
  width: 300px;
  height: auto;
}

body button {
    border-radius: 20px 20px 20px 20px ;
    height: 60px;
    line-height: 28px;
    color: #E2C1F3;
    font-family: Tahoma;
    width: 186px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    background-color: #F584B5;
    text-shadow: 1px 1px 6px #0059A0;
    border: solid #E2C1F3 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

#game-canvas {
    float: left;
    padding: 20px 0px;
}

#canvas {
  display: flex;
  justify-content: center;
  text-align:center;
}
